<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= info?.company_name || 'JKT Hub' %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/styles2.css" />
    <link rel="stylesheet" href="/css/styles3.css" />
    <link rel="icon" type="image/x-icon" href="/public/images/JKT logo bg.png" />
</head>
<body>
    <footer class="site-footer">
      <div class="footer-container"> 
        <div class="footer-about"> 
            <a href="/"><img src="/images/JKT logo bg.png" alt="Logo" width="50px" height="50px"/></a>
            
          <h3>Jaykirch Tech Hub </h3> 
          <p>Welcome to the Future of Learning — Empowering Students, Teachers, and Schools with Smart Education Tools.</p>
         </div>

  <!-- 
          <div class="footer-about">
            <P>You can also support willingly</P>
            <h3>Account Name: Cherubim and Seraphim Church Online</h4>
            <h1 style="color: white;">Account Number: 0126607952</h1>
            <h3>Bank: wema bank</h3>
          </div> -->

      <div class="footer-social"> <h4>Connect with us</h4> 
        <div class="social-links"> 
          <a href="https://wa.link/wv7jtg" target="_blank" aria-label="WhatsApp"> 
            <i class="fab fa-whatsapp"></i> 
          </a> 

          <a href="https://www.facebook.com/share/14DpdxEmwVk/" target="_blank" aria-label="WhatsApp"> 
            <i class="fab fa-facebook"></i> 
          </a> 
          
          <a href="https://instagram.com/jkt_hub" target="_blank" aria-label="Instagram"> 
            <i class="fab fa-instagram"></i> 
          </a> 
          
          <a href="https://youtube.com/@JKT_hub" target="_blank" aria-label="YouTube"> 
            <i class="fab fa-youtube"></i> 
          </a> 
          
          <a href="https://t.me/Jaykirch" target="_blank" aria-label="Telegram"> 
            <i class="fab fa-telegram-plane"></i> 
          </a> 
          
          <a href="mailto:jaykirchtechhub@gmail.com" target="_blank" aria-label="Email"> 
            <i class="fas fa-envelope"></i> 
          </a>
        </div>
       </div>

      <div class="footer-subscribe">
        <h4>Subscribe to our newsletter</h4>
        <form method="POST" action="/subscribe" class="subscribe-form">
          <input
            type="email"
            name="email"
            placeholder="Enter your email"
            required
          />
          <button type="submit">Subscribe</button>
        </form>
      </div>
    </footer>
</body>
</html>

    
